@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 270 6% 14%;
    --card: 0 0% 98%;
    --card-foreground: 270 6% 14%;
    --popover: 0 0% 98%;
    --popover-foreground: 270 6% 14%;
    --primary: 203 75% 86%;
    --primary-foreground: 270 6% 14%;
    --secondary: 222 73% 85%;
    --secondary-foreground: 270 6% 14%;
    --tertiary: 163 73% 85%;
    --tertiary-foreground: 270 6% 14%;
    --muted: 270 6% 14%;
    --muted-foreground: 270 6% 14%;
    --accent: 100 84% 76%;
    --accent-foreground: 270 6% 14%;
    --destructive: 6 66% 49%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 6% 14%;
    --input: 270 6% 14%;
    --ring: 270 6% 14%;
    --chart-1: 220 70% 50%;
    --chart-2: 340 75% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 160 60% 45%;
    --radius: 1rem;
  }
  .dark {
    --background: 270 6% 14%;
    --foreground: 0 0% 98%;
    --card: 270 6% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 203 75% 86%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 222 73% 85%;
    --secondary-foreground: 210 40% 98%;
    --muted: 270 6% 14%;
    --muted-foreground: 270 6% 14%;
    --accent: 100 84% 76%;
    --accent-foreground: 270 6% 14%;
    --destructive: 6 66% 49%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 6% 14%;
    --input: 270 6% 14%;
    --ring: 270 6% 14%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
